ul {
	height: 40em;
	width: 100%;
	overflow-y: auto;
	border: 2px solid;
}

ul li {
	white-space: pre-wrap;
}

.inputdiv {
	display: inline-block;
}

.container {
	width: 95%;
}

@media screen and (min-width: 769px) {
    .container {
    	width: 60%;
    }
  }